
div.FirstClick h1{
	position: absolute;
	height: 33px;
	left: 0%;
	right: 85.02%;
	top: calc(50% - 33px/2 + 4.5px);

	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;

	color: #2F281E;
}

div.FirstClick p{
	position: absolute;
	left: 0%;
	right: 78.08%;
	top: 65.18%;
	bottom: 11.61%;

	font-family:  'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	color: #5C5040;
}

div.Rectangulo{
	position: absolute;
	left: 0%;
	right: 92.69%;
	top: 0%;
	bottom: 64.29%;

	border: 2px solid #FF4F4F;
	border-radius: 10px;
}

div.PrimerClic{
	margin-left: 20px;
	margin-top: 20px;
}

div.RectanguloRed{
	position: absolute;
	left: 26.12%;
	right: 66.58%;
	top: 0%;
	bottom: 64.29%;

	background: #FF4F4F;
	box-shadow: 0px 9px 42px rgba(9, 10, 12, 0.0661604);
	border-radius: 10px;
}   

div.Biohazard{
	margin-left: 18px;
	margin-top: 25px;
}

div.DesignSurveys h1{
	position: absolute;
	height: 33px;
	left: 26.12%;
	right: 58.36%;
	top: calc(50% - 33px/2 + 4.5px);

	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;

	color: #2F281E;
}

div.DesignSurveys p{
	position: absolute;
	left: 26.12%;
	right: 51.96%;
	top: 65.18%;
	bottom: 11.61%;

	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	color: #5C5040;
}

div.RectanguloPreference{
	position: absolute;
	left: 52.15%;
	right: 40.55%;
	top: 0%;
	bottom: 64.29%;

	border: 2px solid #FF4F4F;
	border-radius: 10px;
}

div.HandShake{
	margin-top: 26px;
	margin-left: 20px;
}

div.PreferenceTests h1{
	position: absolute;
	height: 33px;
	left: 52.15%;
	right: 31.32%;
	top: calc(50% - 33px/2 + 4.5px);

	font-family:  'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;

	color: #2F281E;
}

div.PreferenceTests p{
	position: absolute;
	left: 52.15%;
	right: 25.94%;
	top: 65.18%;
	bottom: 11.61%;

	font-family:  'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	color: #5C5040;
}

div.RectanguloUser{
	position: absolute;
	left: 78.08%;
	right: 14.61%;
	top: 0%;
	bottom: 64.29%;

	border: 2px solid #FF4F4F;
	border-radius: 10px;
}

div.Usuario{
	margin-top: 22px;
	margin-left: 22px;

}
div.UserAstronaut h1{
	position: absolute;
	height: 33px;
	left: 78.08%;
	right: 6.76%;
	top: calc(50% - 33px/2 + 4.5px);

	font-family:'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;

	color: #2F281E;
}

div.UserAstronaut p{
	position: absolute;
	left: 78.08%;
	right: 0%;
	top: 65.18%;
	bottom: 0%;

	font-family:'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;

	color: #5C5040;
}

div.Iconos{
	font-family:  'Poppins', sans-serif;
	position: absolute;
	width: 1095px;
	height: 224px;
	left: 161px;
	top: 852px;	
}
<<<<<<< Updated upstream
/*inicia sexta seccion*/
.texto-centrado{
    padding-top: 108px;
}
.texto-centrado h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #2F281E;
    height: 51px;
}
.texto-centrado p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837 ;
}
.card-body h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}
.card-body p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.card-body h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #FF4F4F;
}
.secciones {
    padding-top: 55px;
}
.card-body {
    width: 348px;
    height: 359px;
    padding-left: 31px;
}
.imagen{
    padding-left: 518px;
    padding-right: 518px;
    padding-top: 45px;
}
/*termina sexta seccion*/
.ovalo{
    position: absolute;
    left: 600px;
}

.logo{  
    padding-top: 49px;
    display: block;
}

.nav-link{  
  padding-top: 44px;
  height: 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}
.buttom{    
    padding-top: 44px;
    display: block;
    
}
.boton{ 
    width: 80px;
}
.buttom2{   
    padding-top:  44px;
    width: 80px;
    display: block;
}
/* acaba primera seccion*/
/*iniica segunda seccion*/
.texto{
    padding-top: 150px;
    width: 518px;
    height: 331px;
}
 .texto h1{    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #3B3322 ;
}
 .texto p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #544835;
}
.buttom3{   
    padding-top: 68px;
    width: 200px;
    margin-right: 200px;
    display: flex;
}
.edificios{

    position: absolute;
    bottom: 0px;
    top: 86px; 
  
}
/*acaba segunda seccion*/
/*Inicia cuarta*/
.texto-centrado2{
    padding-top: 151px;
}
.texto-centrado2 h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
}
.texto-centrado2 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.texto-centrado3 p{   
  font-size: 14px;
  color:  #FF4F4F;
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  line-height: 30px;
}
.texto-centrado4 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    font-size: 16px;
    color: #2C4E8B;
    padding-top: 11px;

}
.imagen {
    padding-top: 74px;
}
/*Acaba cuarta*/
/*Inica quinta*/
.cuadros{
    padding-top: 91px;
}
.cuadors{    
    padding-top: 81px;
}
.cuadors p{
    padding-top: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
    font-size: 16px;
    color: #000000;
}
/*Termina quinta*/
=======
div.AboutUs{
	position: absolute;
	width: 1400px;
	height: 730px;
	left: 0px;
	top: 1148px;

}

div.Protips{
	position: absolute;
	height: 36px;
	left: 122%;
	right: 33%;
	top: 150px;
x
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;

	color: #2F281E;
}

div.CuadritoRojo{
	position: absolute;
	height: 36px;
	left: 135%;
	right: 33%;
	top: 155px;
}

div.LearnWithPropits h2{
	position: absolute;
	height: 60px;
	left: 860px;
	right: 246px;
	top: 192px;
	width: 1000px;

	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;

	color: #262626;
}

div.Ilustration{
	position: absolute;
	width: 543px;
	height: 501px;
	left: 161px;
	top: 133px;
	bottom: 96px;
	size: -220px;
}

/*SEptimaParte*/


div.Subscribe{
	
	position: absolute;
	width: 1110px;
	height: 301px;
	left: 147px;
	top: 3808px;
}
div.Email{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

}
div.Subscribe h4{
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 30px;
	color: #FFFFFF;

	position: absolute;
	left: 210px;
	top: 145px;

}
ul.SubscribeInput li{
 position: absolute;
 top: 130px;
 left: 210px;

}
button{
	background-color: #FF4F4F ;
	mix-blend-mode: normal;
	opacity: 0.5;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius:  0 10px 10px 0;
	box-sizing: 100px;
	padding: 15px;
	position: absolute;
	left: 610px;
	background-image: url(IMAGES/send-email.svg);
	background-size: cover;

}

input {
	background-color: #FF4F4F ;
	mix-blend-mode: normal;
	opacity: 0.5;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px 0 0 10px;
	box-sizing: 100px;
	padding: 15px;
	left: 332px;
	position: absolute;
} 
input[type="email"]{
	font-family:'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: white;
	width: 280px;
}
.SubscribeInput input::placeholder{
	color: white;
}

label[for="mail"]{
	font-size: 20px;
	color: white;
	font-family:'Poppins', sans-serif;
}

div.Mascara{
	position: absolute;
	width: 1110px;
	height: 301px;
	left: -15px;
	top: 60px;

	background: #FF4F4F;
	border-radius: 10px;
}
.Ovalo1{
	width: 220px;
	height: 220px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	

	position: absolute;
	margin: auto;
	left: 300px;
	right: 0;
	top: -120px;
	bottom: 0;

}
.Ovalo2{
	width: 260px;
	height: 260px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	
	
	position: absolute;
	margin: auto;
	left: 555px;
	right: 0;
	top: -120px;
	bottom: 0;
}
.Ovalo3{
	width: 220px;
	height: 230px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	

	position: absolute;
	margin: auto;
	left: 850px;
	right: 0;
	top: -120px;
	bottom: 0;

}
.Ovalo4{
	width: 220px;
	height: 220px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	

	position: absolute;
	margin: auto;
	left: -850px;
	right: 0;
	top: 700px;
	bottom: 0;

}

.Ovalo5{
	width: 260px;
	height: 260px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	

	position: absolute;
	margin: auto;
	left: -625px;
	right: 0;
	top: 700px;
	bottom: 0;

}

.Ovalo6{
	width: 220px;
	height: 220px;
	border-radius: 50%;

	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.06;	

	position: absolute;
	margin: auto;
	left: -350px;
	right: 0;
	top: 700px;
	bottom: 0;
}
div.LastPart{

	position: absolute;
	width: 1131px;
	height: 390px;
	left: 125px;
	top: 425px;
}
div.LastCuadritoRojo{
	position: absolute;
	background: #FF4F4F;
	border-radius: 0 0 0 0;

	left: 120px;
	width: 12px;
	height: 12px;
	top: 3915px;
	position: absolute;
}

div.tituloProtips h3{
	top: 3900px;
	position: absolute;
}

div.LastPart p{
	top: 3950px;
	position: absolute;
}
p.Texto01{
	position: absolute;
	left: 700px;
	height: 2000px;
	top: -200px;
	padding-top: 2000px;

}
